.wrapper{
  height: 100vh;
  display: flex;
}

.side-bar{
  width: 300px;
  background-color: #2f3e51;
  font-weight: 700;
  &__user-name{
    height: 100px;
    background-color: #253141;
    padding: 0 20px;
  display: flex;
  align-items: center;
    .top-items{
      width: 260px;
      color: white;
      display: flex;
      justify-content: space-between;
      &__name{
        height: 20px;
        font-size: 16px;
      }
      &__icons{
        width: 60px;
        text-align: right;
      }
      &__btn{
        width: 60px;
        color: white;
        text-decoration: none;
        padding-left: 5px;
      }
    }
  }
  &__group-list{
    .group-one{
      height: 91px;
      padding: 20px 20px 40px 20px;
      color: white;
      &__name{
        font-size: 15px;
        padding-bottom: 5px;
      }
      &__message{
        font-size: 11px;
      }
      &__link{
        font-size: 11px;
        color: white;
        text-decoration: none;
      }
    }
  }
}

.main-chat{
  width: calc(100vw - 300px);
  background-color: #fafafa;
  &__group-info{
    height: 100px;
    background-color: #ffffff;
    padding: 0 40px;
    display:flex;
    justify-content: space-between;
    &--main{
      font-size: 20px;
      color: #333333;
      padding-top: 35px;
    }
    &--sub{
      font-size: 12px;
      color: #999999;
      padding-top: 15px;
    }
    &--right{
      width: 72px;
      padding: 28px 20px 0 20px;
      font-size: 16px;
      line-height: 40px;
      text-align: center;
    }
    &--link{
      color: #28aef0;
      text-decoration: none;
    }
  }
  &__message-list{
    height: calc(100vh - 190px);
    padding: 35px 40px 0;
    box-sizing: border-box;
    overflow: scroll;
    .message-one{
      &__top{
        padding-bottom: 12px;
        display: flex;
      }
      &__name{
        font-size: 16px;
        color: #333333;
      }
      &__time{
        font-size: 12px;
        color: #999999;
      }
      &__bottom{
        padding-bottom: 46px;
        font-size: 14px;
        color: #434A54;
      }
    }
  }
  &__message-form{
    height: 90px;
    background-color: #d2d2d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--box{
      height: 50px;
      width: calc(100vw - 510px);
      padding-left: 10px;
      margin-left: 30px;
      background-color: white;
      position: relative;
      display: flex;
      align-items: center;
      &--main{
        color: #434A54;
      }
      &--icon{
        position: absolute;
        left: calc(100vw - 525px);
      }
    }
    &--send{
      height: 50px;
      background-color: #38aef0;
      padding: 0 30px;
      margin-right: 40px;
      line-height: 50px;
      font-size: 16px;
      color: #fff;
    }
  }
}

.invisible-btn{
  display: none;
}